@model MvcTienda.Models.Producto;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Editar Producto</h1>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <a asp-action="Index" aria-hidden="true">X</a>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="0" id="txtId">
                    <div class="col-sm-8">
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Nombre" class=""></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                                <br />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label asp-for="IdMarca" class=""></label>
                                <input asp-for="IdMarca" class="form-control" />
                                <span asp-validation-for="IdMarca" class="text-danger"></span>
                                <br />
                            </div>
                            <div class="form-group col-sm-6">
                                <label asp-for="IdCategoria" class=""></label>
                                <input asp-for="IdCategoria" class="form-control" />
                                <span asp-validation-for="IdCategoria" class="text-danger"></span>
                                <br />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label asp-for="Stock" class=""></label>
                                <input asp-for="Stock" class="form-control" />
                                <span asp-validation-for="Stock" class="text-danger"></span>
                                <br />
                            </div>
                            <div class="form-group col-sm-6">
                                <label asp-for="Precio" class=""></label>
                                <input asp-for="Precio" class="form-control" />
                                <span asp-validation-for="Precio" class="text-danger"></span>
                                <br />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="Descripcion" class=""></label>
                                <input asp-for="Descripcion" class="form-control" />
                                <span asp-validation-for="UrlFoto" class="text-danger"></span>
                                <br />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label asp-for="UrlFoto" class=""></label>
                                <input asp-for="UrlFoto" class="form-control" />
                                <span asp-validation-for="UrlFoto" class="text-danger"></span>
                                <br />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


