@model MvcTienda.Models.Categoria
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Estás seguro de que quieres eliminar esta Categoria</h3>
<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dt class="col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            <img style="height:60px ;" src="@Model.UrlFoto" class="rounded mx-auto d-block" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCategoria" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
</div>

